h1{
    font-size:larger;
    font-weight: bolder;
    }
    
    th {
        margin-right: 30px;
        border: 1px solid #dee2e6;
        text-align: center;
        background-color: black;
        color:white
      
      }
      td{
        border: 1px solid #dee2e6;
        text-align:center;
      }
      
     
      table {
        width: 80%;
        margin: 0 auto;
        box-shadow: none;
        border: 2px solid #dee2e6;
        // background-color: black;
        // color:white;
      }


      .highlight-row {
        background-color: green;
      }